.error {  
    border-color: red;
}

.send {  
    border-color: rgb(11, 138, 49);
}

.color_rojo {
  color: rgb(230, 17, 17);
}

.color_info {
    color: #17a2b8;
}

.color_background {
    background-color: #17a2b8;
}

.tamano_icono{
font-size: 30px;
}

